<ion-tabs>
  <ion-header>
    <ion-toolbar *ngIf="isLoggedIn">
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <!-- <img src="./assets/logo.webp" class="logo ion-text-left"> -->
          <ion-button fill="clear" class="link ion-text-left" (click)="navigateTo('factur/facturas')">FacturPlus</ion-button>
        </ion-col>
        <ion-col size="10">
          <div class="navbar" class="ion-text-right">
            <ion-button fill="clear" id="click-trigger">{{userName}}</ion-button>
            <ion-popover trigger="click-trigger" triggerAction="click">
              <ng-template>
                <ion-content class="ion-padding">
                  <ion-button fill="clear" (click)="logOut()" expand="block">Desconectar</ion-button>
                  <ion-button fill="clear" (click)="navigateTo('factur/registrar')" expand="block" *ngIf="isAdmin">Registrar cuenta</ion-button>
                </ion-content>
              </ng-template>
            </ion-popover>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  

  <ion-tab-bar slot="bottom" *ngIf="isLoggedIn">
    <ion-tab-button tab="facturas">
      <ion-icon aria-hidden="true" name="server-outline"></ion-icon>
      <ion-label>Generar Factura</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="presupuestos">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Generar Presupuesto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon aria-hidden="true"name="construct-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
