<ion-content [fullscreen]="true">
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <!-- column -->
        <div class="col-lg-12">
          <ion-item lines="full">
            <p>Introduce tu correo para enviar las instrucciones para cambiar la contraseña.</p>
          </ion-item>
          <form>
            <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label position="floating">Correo</ion-label>
                  <ion-input type="text" #email required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button type="submit" color="danger" (click)="authService.PasswordRecover(email.value)" expand="block">
                  Enviar correo de reseteo
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>