<ion-content [fullscreen]="true">
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <!-- column -->
        <div class="col-lg-12">
          <p>
            Por favor revisa tu correo electronico y verifica tu correo haciendo click en el link.
          </p>
          <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
            Reenviar Verificación de Correo
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>